<template>
  <div class="container">
    <h1 id="title">Badger</h1>
    <form @submit.prevent="fetchData()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input
            id="username"
            v-model="username"
            type="name"
            class="form-control"
            placeholder="username"
          />
        </div>
        <div class="form-group col-md-4">
          <select
            id="service"
            v-model="service"
            class="custom-select"
            name="service"
          >
            <option value="gitlab">Gitlab</option>
            <option value="github">Github</option>
          </select>
        </div>
        <router-link
          :to="`/${this.service}/${this.username}`"
          tag="button"
          class="form-group col-md-2 btn btn-primary"
        >
          Go
        </router-link>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      service: 'gitlab',
    };
  },
};
</script>

<style scoped>
form {
  min-width: 70vw;
}
#title {
  margin-bottom: 50px;
  margin-top: 50px;
}
</style>
