<template>
<div class="package">
  <div v-if="loadfail" class="error container">
    Couldnt get package info
  </div>
  <div v-if="!loadfail" class="container">
    <h1>Dependency Status</h1>
    <div class="btns">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        @click="setType('def')"
      >
        Dependencies
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        @click="setType('dev')"
      >
        devDependencies
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        @click="setType('peer')"
      >
        peerDependencies
      </button>
    </div>
    <img
      :src="
        `/badge/gitlab/${$route.params.name}/${
          $route.params.project
        }/${badgetype}`
      "
      alt=""
      class="badge-img"
    />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Dependency</th>
          <th scope="col">version</th>
          <th scope="col">stable</th>
          <th scope="col">latest</th>
          <th scope="col">status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(info, dep) in dList" :key="dep">
          <th scope="row">{{ dep }}</th>
          <td>{{ info.required }}</td>
          <td>{{ info.stable }}</td>
          <td>{{ info.latest }}</td>
          <td>
            <div class="circle" :class="{ green: !info.needsUpdating }"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</template>

<script>
import axios from 'axios';
/* eslint-disable no-console */
export default {
  data() {
    return {
      dList: {},
      badgetype: 'status.svg',
      info: {},
      loadfail: 0,
    };
  },
  mounted() {
    axios.get(
      `/api/gitlab/${this.$route.params.name}/${this.$route.params.project}`,
    )
      .then((res) => {
        this.info = res.data;
        this.setType('def');
      })
      .catch((e) => {
        this.loadfail = 1;
        console.log('Could not find package', e.message);
      });
  },
  methods: {
    setType(type) {
      this.type = type;
      const { starbuck } = this.info;
      if (type === 'dev') {
        this.badgetype = 'dev-status.svg';
        this.dList = starbuck.devDependencies;
      } else if (type === 'peer') {
        this.badgetype = 'peer-status.svg';
        this.dList = starbuck.peerDependencies;
      } else {
        this.badgetype = 'status.svg';
        this.dList = starbuck.dependencies;
      }
    },
  },
};
</script>
<style>
.circle {
  margin: 0 auto;
  height: 10px;
  width: 10px;
  background-color: rgb(255, 112, 112);
}
.green {
  background-color: rgb(112, 255, 119);
}
.btns {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.btns > button {
  min-width: 120px;
  margin: 0 10px;
}
.table {
  margin-top: 50px;
}
.package {
  margin-top: 70px;
}
</style>
