<template>
  <div class="container">
    <ProjectTable
      v-if="data"
      :projects="data"
      :userinfo="{ name: $route.params.name, service: $route.params.service }"
    />
  </div>
</template>

<script>
import axios from 'axios';
import ProjectTable from '@/components/ProjectTable';

export default {
  components: {
    ProjectTable,
  },
  data() {
    return {
      data: [],
      loaded: false,
    };
  },
  mounted() {
    axios
      .get(`/api/${this.$route.params.service}/${this.$route.params.name}/repos`)
      .then((res) => {
        this.loaded = true;
        this.data = res.data;
      })
      .catch((e) => {
        console.log('Failed Fetch', e.message);
      });
  },
};
</script>

<style scoped>
.projects {
  width: 80%;
  margin-top: 70px;
}
</style>
