<template>
  <div class="projects">
    <h2>Projects</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="project in projects" :key="project.name">
          <th scope="row">
            <router-link
              :to="`/${userinfo.service}/${userinfo.name}/${project.path}`"
            >
              {{ project.name }}
            </router-link>
          </th>
          <td>{{ project.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: ['projects', 'userinfo'],
};
</script>

<style>
.table {
  margin-top: 50px;
}
</style>
